# FastAPI and ASGI server
fastapi>=0.111.0,<1.0.0
uvicorn[standard]>=0.30.0,<1.0.0
gunicorn>=22.0.0,<24.0.0

# Pydantic for data validation
pydantic>=2.7.0,<3.0.0
pydantic-settings>=2.3.0,<3.0.0
pydantic[email]
email-validator>=2.0.0
openpyxl>=3.1.0
slack-sdk
# Prisma ORM
prisma>=0.13.0,<1.0.0

# Database driver
asyncpg>=0.29.0,<1.0.0

# HTTP client
httpx==0.28.0
aiohttp
# Security
python-jose[cryptography]>=3.3.0,<4.0.0
passlib[bcrypt]>=1.7.4,<2.0.0
bcrypt>=4.0.0,<5.0.0
python-multipart>=0.0.12,<1.0.0

# Environment variables
python-dotenv>=1.0.0,<2.0.0

#Redis
redis[asyncio]

# Date utilities
python-dateutil>=2.9.0,<3.0.0

# Async
aiosmtplib>=3.0.0,<4.0.0

# Testing
pytest>=8.0.0,<9.0.0
pytest-asyncio>=0.23.0,<1.0.0
pytest-mock>=3.12.0,<4.0.0
pytest-cov>=5.0.0,<7.0.0